*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  background-color: #fff;
  height: 500px;

}
nav {
    height: 90px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    z-index: 1;
}

.logo {
  display: inline-block;
  width: 35%;
  float: left;
  padding-left: 100px;
}
.logo h1 {
  color: #17BFAB;
  float: left;
  margin-right: 5px;
  font-size: 2em;
  margin-left: 10px;
}
.logo img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.logo p {
  font-size: 14px;
}

nav ul {
  width: 50%;
  text-align: right;
  display: inline-block;
  float: left;
  height: 100%;
}
nav li {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  margin-top: 20px;
}
nav a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}
.number {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.top {
  margin-top: 90px;
  display: flex;
  padding-left: 100px;
  height: 650px;
  align-items: center;
}
.top-left {
  width: 35%;
}
.top-left * {
  margin-bottom: 15px;
}
.top-left p {
  color: #171717;
}

.top-right {
  height: 100%;
  width: 60%;
  background-image: url(../img/ellipse1.png);
  background-repeat: no-repeat;
}
.small-img img:nth-child(1) {
  position: relative;
  top: -300px;
  left: 5%;
}
.small-img img:nth-child(2) {
  position: relative;
  top: -600px;
  left: 30%;
}
.small-img img:nth-child(3) {
  position: relative;
  top: -500px;
  left: 50%;
}

.small-img img:nth-child(4) {
  position: relative;
  bottom: -10%;
  left: 5%;
}
button {
  background-color: #10495C;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}
.top-left div button {
  margin-left: 20px;
}
.top-left div button:nth-child(2) {
  background-color: #fff;
  border: 1px solid #10495C;
  color: #000;
}
.plan {
  margin: 50px 50px 20px 100px;
}
.plan div {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.plan div div {
  width: 30%;
}
.plan div div p {
  margin-top: 10px;
  margin-left: 5px;
}






/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: -2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 1;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
@media screen and (max-width: 920px) {
  .menu__btn {
    z-index: 2;
  }
  .plan div {
    flex-direction: column;
    align-items: center
  }
  nav ul {
    display: none;
  }
  .number {
    float: right;
  }
  .logo {
    width: 70%;
  }
}
