@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  background-color: #fff;
}
nav {
    height: 90px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
}

.logo {
  display: inline-block;
  width: 33%;
  float: left;
  padding-left: 100px;
}
.logo h1 {
  color: #17BFAB;
  float: left;
  margin-right: 5px;
  font-size: 2em;
  margin-left: 10px;
}
.logo img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.logo p {
  font-size: 14px;
}

nav ul {
  width: 48%;
  text-align: right;
  display: inline-block;
  float: left;
  height: 100%;
}
nav li {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  margin-top: 20px;
}
nav a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
  transition: 0.3s linear;
}
nav li a:hover {
  color: #828282;
  text-shadow: 4px 2px 5px;
  transform: scale(2, 2);
}

.number {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.top {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
}
.top-left {
  width: 45%;
  margin-left: 100px;
  margin-right: 3%
}
.top-left * {
  margin-bottom: 15px;
}
.top-left p {
  color: #171717;
}

.top img {
  height: auto;
  width: 45%;
  overflow: hidden;
  margin-right: 100px;
}

button {
  background-color: #10495C;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;

}
.top-left div button {
  margin-left: 20px;
}
.top-left div button:nth-child(2) {
  background-color: #fff;
  border: 1px solid #10495C;
  color: #000;
}
.plan {
  margin: 50px 50px 20px 100px;
}

.plan div {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.plan div div {
  width: 30%;
}
.plan div div p {
  margin-top: 10px;
  margin-left: 5px;
}






/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: -2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 2;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

/* Слайдер */


.slider__items {
      counter-reset: slide;
    }

.slider__item {
      counter-increment: slide;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
.slider__item img {
  width: 40%;
  height: max-content;
}
.slider__item div {
  width: 40%;
  height: 250px;
}
.slider__item div p {
  font-size: 17px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}
.slider__item>div::before {
      content: counter(slide);
      position: absolute;
      top: 10px;
      right: 20px;
      color: #fff;
      font-style: italic;
      font-size: 32px;
      font-weight: bold;
    }
    /* стили для корневого элемента слайдера */
    .slider {
      position: relative;
      overflow: hidden;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 20px;

    }

    /* стили для wrapper */
    .slider__wrapper {
      position: relative;
      overflow: hidden;
      background-color: #eee;
      border-radius: 15px;
    }

    /* стили для элемента, в котором непосредственно расположены элементы (слайды) */
    .slider__items {
      display: flex;
      transition: transform 0.5s ease;
    }

    /* класс для отключения transition */
    .transition-none {
      transition: none;
    }

    /* стили для элементов */
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      padding: 50px 20px;
    }

    /* кнопки Prev и Next */
    .slider__control {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 50px;
      transform: translateY(-50%);
      display: none;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0.5;
      user-select: none;
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      opacity: 0.7;
    }

    .slider__control_prev {
      left: 0;
    }

    .slider__control_next {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_prev::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_next::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    /* Индикаторы */
    .slider__indicators {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin: 0 15%;
      list-style: none;
      user-select: none;
    }

    .slider__indicator {
      flex: 0 1 auto;
      width: 30px;
      height: 4px;
      margin-right: 3px;
      margin-left: 3px;
      background-color: rgba(255, 255, 255, 0.5);
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      cursor: pointer;
    }

    .slider__indicator_active {
      background-color: #fff;
    }

/* Слайдер */




/* аккордион */
.accordion-block {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 17px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.accordion-block > p:first-child {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.accordion-block p:nth-child(2) {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.accordion-block button:last-child {
  display: block;
  margin: 30px auto;

}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 20px;
}

/* аккордион */

@media screen and (max-width: 920px) {
  .menu__btn {
    z-index: 3;
  }
  .plan div {
    flex-direction: column;
    align-items: center
  }
  nav ul {
    display: none;
  }
  .number {
    float: right;
    position: fixed;
    top: 20px;
  }
  .logo {
    width: 70%;
  }

  .top-left {
    margin-left: 5px;
  }
  .plan div div {
    width: 100%;
  }
  .plan {
    margin: 10px;
    margin-bottom: 50px;
  }
  .slider {
    max-width: 90%;
  }
  .accordion-block {
    margin-left: 50px;
    margin-right: 50px;
  }
  .top img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 750px) {
  .slider {
    max-width: 95%;
  }
  .slider__item {
    flex-direction: column;
  }
  .slider__item div {
    width: 90%;
  }
  .accordion-block {
    margin-left: 20px;
    margin-right: 20px;
  }
  .accordion-block p:nth-child(2) {
    width: 60%;
  }
}
